* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Aboreto', cursive;
  font-family: 'Reem Kufi', sans-serif;
  font-family: 'Alegreya Sans SC', sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #000 !important;
  padding: 6% 8%;
}
#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sec01 {
  padding: 4% 8%;
  background-color: #fff6f5;
  height: 480px;
  width: 500px;
}
.logo_sec {
  display: flex;
  flex-direction: row;
  width: 50px;
}
.logo {
  height: 30px;
  width: 40px;
  margin-bottom: 30px;
}
.logo_heading {
  letter-spacing: 0.3em;
  line-height: 15px;
  margin-left: 8px;
  font-size: 13px;
  font-family: 'Reem Kufi', sans-serif;
}
input[type='email'] {
  padding: 20px;
  width: 315px;
  height: 40px;
  font-size: 15px;
  border: 1px solid #999;
  background-color: rgb(252, 248, 248);
  margin-top: 12px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.point {
  position: relative;
}
.btn01 {
  position: absolute;
  right: -20px;
  bottom: 0px;
  height: 42px;
  width: 80px;
  background-color: lightpink;
  border: none;
  outline: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.r_arrow {
  height: 15px;
  width: 15px;
}
input[type='email']::placeholder {
  color: rgb(243, 197, 204);
  font-family: 'Reem Kufi', sans-serif;
  font-size: 12px;
}
.content_sec {
  padding: 8% 0px;
}
.main_heading {
  font-size: 42px;
  letter-spacing: 0.2em;
  line-height: 1.1;
  width: 200px;
  font-family: 'Reem Kufi', sans-serif;
}
.we_r {
  color: rgb(243, 197, 204);
  font-size: 45px;
}
.main_para {
  font-size: 10px;
  line-height: 18px;
  font-family: 'Reem Kufi', sans-serif;
  color: rgb(243, 197, 204);
  width: 315px;

  word-spacing: 2px;
}
.pic {
  width: 380px;
  height: 480px;
}
.pic1 {
  display: none;
}
/* @media Queries*/
@media all and (max-width: 768px) {
  .sec01 {
    padding: 2% 0%;
    background-color: #fff6f5;
    height: 1024px;
    width: 100%;
  }
  .pic1 {
    display: block;
    height: 400px;
    width: 100%;
    background-size: cover;
  }
  .pic {
    display: none;
  }
  .logo_sec {
    padding: 5% 5%;
    height: 80px;
  }
  .main_heading {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    margin-bottom: 20px;
  }
  #wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main_para {
    margin: 0 auto;
    text-align: center;
    width: 230px;
    margin-bottom: 40px;
  }

  body {
    height: 80vh;
    width: 100vw;
    background-color: rgb(243, 197, 204);
    padding: 0% 0%;
  }
  .point {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .btn01 {
    position: absolute;
    right: 50px;
    bottom: 0px;
  }
  input[type='email'] {
    width: 270px;
  }
}
